DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/public"


MAILJET_API_URL="https://api.mailjet.com/v3.1/send"
MAILJET_API_KEY="api_key"
MAILJET_API_SECRET="api_secret"

MAILJET_FROM_EMAIL="mail@gmail.com"
MAILJET_FROM_NAME="DRVL"
MAIL_BRAND_NAME="DRVL"
MAIL_REPLY_TO="mail@gmail.com"
APP_URL="http://localhost:5173"
MAILJET_TEST_MODE=false
MAILJET_TEST_EMAIL=""
MAIL_OTP_DEBUG=true